<% include _header %>

<h1><%= title %></h1>

<div class="btn-group-vertical">
  <a href="/auth/google" type="button" class="btn btn-default googleplus"> <i class="fa fa-google-plus"></i> Google+</a>
  <a href="/auth/twitter" type="button" class="btn btn-default twitter"> <i class="fa fa-twitter"></i> <span>Twitter</span></a>
  <a href="/auth/facebook" type="button" class="btn btn-default facebook"> <i class="fa fa-facebook"></i> Facebook</a>
</div>

<% include _footer %>
